version: '3.8'

services:
  postgres:
    image: postgres:14
    container_name: postgres-gameforge-db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: gameforge_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_gameforge_data:/var/lib/postgresql/data
    networks:
      - pg-network

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin-gameforge-ui
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:
      - pg-network

volumes:
  postgres_gameforge_data:

networks:
  pg-network:
    driver: bridge