body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #0a0f2d, #1a3cff, #0d1836);
  background-size: 400% 400%;
  overflow: hidden; 

}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.top-bar {
  display: flex;
  justify-content: center;      
  align-items: center;
  gap: 40px;                  
  margin-bottom: 20px;
}

.top-bar h1 {
  font-size: 3rem;
  font-weight: 600;
}

.logo {
  position: fixed;
  top: 1%;
  right: 1%;
  height: 200px;
  width: auto;
  padding: 0;
  margin: 0;
  transition: transform .2s;
}

.logo:hover {
  transform: scale(1.05);
}

.input p {
  font-size: 1.4rem;
  margin-bottom: 5px;
}

input {
  width: 280px;
  height: 40px;
  font-size: 1.1rem;
  border-radius: 6px;
  border: none;
  padding: 8px;
}

button {
  margin-top: 20px;
  padding: 12px 26px;
  font-size: 1.2rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #1a3cff;
  color: white;
  transition: 0.3s;
}
.buttonek {
 
  position: absolute;
  top: 1%;
  left: 1%;
  padding: 2px 10px;
  font-size: 1.2rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #1a3cff;
  color: white;
}

.buttonek2 {
 
  position: absolute;
  top: 72%;
  left: 5%;
  padding: 2px 10px;
  font-size: 1.2rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #1a3cff;
  color: white;
}

button:hover {
  background: #4f66ff;
}

li{
    display:flex;
    color:white;
    width: 50%;
    height: 50%;
}

.page {
  width: 100%;
  height: 100vh;
  padding: 40px;
}

.sidebar {
  position: absolute;
  left: 5%;
  top: 20%;
  transform: translateY(-50%);

  width: 200px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}



.maingame {
  position: absolute;
  top: 30%;
  left: 42%;
  transform: translate(-50%, -50%);

  width: 600px;
  height: 400px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 30px;
  border: 3px solid cyan;
  color: white;
}


.input2 {
  width: 280px;
  height: 40px;
  font-size: 1.1rem;
  border-radius: 6px;
  border: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


.game {
  margin-bottom: 1px;
}

.game button {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.game button:hover {
  background: #3b5bff;
}
