body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #0a0f2d, #1a3cff, #0d1836);
  background-size: 400% 400%;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.top-bar {
  display: flex;
  justify-content: center;      
  align-items: center;
  gap: 40px;                  
  margin-bottom: 20px;
}

.top-bar h1 {
  font-size: 3rem;
  font-weight: 600;
}

.logo {
  height: 200px;
  width: auto;
  padding: 0;
  margin: 0;
  transition: transform .2s;
}

.logo:hover {
  transform: scale(1.05);
}

.input p {
  font-size: 1.4rem;
  margin-bottom: 5px;
}

input {
  width: 280px;
  height: 40px;
  font-size: 1.1rem;
  border-radius: 6px;
  border: none;
  padding: 8px;
}

button {
  margin-top: 20px;
  padding: 12px 26px;
  font-size: 1.2rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #1a3cff;
  color: white;
  transition: 0.3s;
}
.buttonek {
  position: fixed;
  top: 20px;
  left: 20px;

  padding: 2px 10px;
  font-size: 1.2rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #1a3cff;
  color: white;
}


button:hover {
  background: #4f66ff;
}
